body {
  font-family: "Roboto";
}

.list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
}

.list__item {
  width: 400px;
  border: 5px solid gray;
  padding: 10px;
  border-radius: 10px;
}

.item__avatar {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 400px;
}

.item__name {
  font-size: 24px;
}

.item__sport {
  font-size: 20px;
}

.sport__span {
  font-weight: bold;
}

.add {
  width: 150px;
  height: 50px;
  font-size: 24px;
  background-color: rgb(0, 145, 46);
  border: 2px solid green;
  color: white;
  border-radius: 15px;
}

.add__backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.add__modal {
  width: 800px;
  text-align: center;
  background-color: white;
  position: relative;
}

.add__close {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.add__close__img {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 50px;
  text-align: center;
}

.add__title {
  font-size: 36px;
  text-align: center;
}

.add__inputs {
  align-items: flex-start;
  display: flex;
  list-style: none;
  gap: 20px;
  flex-direction: column;
}

.add__text {
  font-size: 24px;
  font-weight: bold;
}

.add__input {
  margin-left: 15px;
}

.delete {
  width: 150px;
  height: 50px;
  font-size: 24px;
  background-color: rgb(145, 0, 0);
  border: 2px solid green;
  color: white;
  border-radius: 15px;
}

.delete__backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.delete__modal {
  width: 800px;
  text-align: center;
  background-color: white;
  position: relative;
}

.delete__close {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.delete__close__img {
  width: 50px;
  height: 50px;
}

.delete__title {
  font-size: 36px;
}

.delete__inputs {
  align-items: flex-start;
  display: flex;
  list-style: none;
  gap: 20px;
  flex-direction: column;
}

.delete__text {
  font-size: 24px;
  font-weight: bold;
}

.delete__input {
  margin-left: 15px;
}

.favorite__link {
  font-size: 40px;
  text-decoration: none;
  color: rgb(0, 85, 255);
  position: absolute;
  left: 0;
  top: 0;
}

.home__link {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 40px;
  text-decoration: none;
  color: rgb(0, 85, 255);
}
